.navContainer{
    background-color: black;
    width: 100vw;
    height: 8vh;
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding:0;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);

    .navLeft{
        justify-self: left;
        padding-left: 2vh;

        button{
            text-transform: uppercase;
            color: white;
            background-color: transparent;
            border: none;
            padding: 0 2vw;
            margin: 0;
            line-height: 8vh;

            span{
                color:darkviolet;
            }
        }
    }

    .logo{
        box-sizing: border-box;
        height: 12vh;
        background-color: black;
        border-radius: 45%;
        padding: 5px;
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;

        img{
            height: 100%;
        }
    }

    .navRight{
        justify-self: right;
        padding-right: 2vw;
        vertical-align:middle;

        .searchBarContainer{
            display: inline;
            height: 8vh;
            vertical-align: top;
            padding:0;

            div{
                display: inline;
                position: relative;

                #searchBarClose{
                    position: absolute;
                    top: 50%;
                    right: 0.5em;
                    translate: 0 -50%;
                }
            }

            input{
                box-sizing: border-box;
                height: 3vh;
                width: 30vw;
                border-radius: 10px;
                margin: 0;
                padding: 0.2em 1em;
                border: none;
                background-color: rgb(50,50,50);
            }

            button{
                background-color: transparent;
                border: none;

                img{
                    height: 4vh;
                }
            }
        }

        a{
            position: relative;
            height: fit-content;
            width: fit-content;
            margin: 0 0 0 2vw;

            span{
                position: absolute;
                right: -1vh;
                top: -3vh;
                background-color: white;
                color: darkviolet;
                border-radius: 50%;
                height: 1em;
                width: 1em;
                text-align: center;
                line-height: 1em;
                padding:0.2em;
                font-weight: bold;
            }
            img{
                height: 4vh;
            }
        }

    }
}
